#!/usr/bin/make -f

srcpkg = $(shell LC_ALL=C dpkg-parsechangelog | grep '^Source:' | cut -d ' ' -f 2,2)
debver = $(shell LC_ALL=C dpkg-parsechangelog | grep '^Version:' | cut -d ' ' -f 2,2 )
upstreamver = $(shell echo $(debver) | cut -d '-' -f 1,1 )

SOURCE=cld
PACKAGE=libcld0

%:
	dh $@ --buildsystem=autoconf --with autotools_dev --with autoreconf

override_dh_auto_clean:
	dh_auto_clean
	-rm -rf cld/
	-(cd ports/java; mvn clean)

override_dh_makeshlibs:
	dh_makeshlibs -V '$(PACKAGE) (>= 0.1)'

override_dh_auto_build:
	dh_auto_build
	# Create temporary links for headers
	# because Java JNI interface need headers
	mkdir -p cld/encodings
	mkdir -p cld/encodings/proto
	ln -s ../languages/public/compact_lang_det.h cld/
	ln -s ../languages/public/encodings.pb.h cld/
	ln -s ../../../encodings/proto/encodings.pb.h cld/encodings/proto
	ln -s ../../encodings/compact_lang_det cld/encodings/
	(cd ports/java; mvn test package)

# Kill *.la files, and forget no-one:
override_dh_install:
	find debian/tmp -name '*.la' -delete
	dh_install --fail-missing

# Debug package:
override_dh_strip:
	dh_strip --dbg-package=$(PACKAGE)-dbg


# make orig tarball from repository content
get-orig-source:
	# orig tarball, turn directory into something nicer
	git archive --format=tar --prefix=$(SOURCE)-$(upstreamver)/ HEAD | \
		gzip -9 > $(SOURCE)_$(upstreamver).orig.tar.gz
